*.la
*.lo
*.o
.deps
.libs
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config
configure
data/gnome-documents-search-provider.ini
data/gnome-documents.desktop
data/gnome-documents.desktop.in
data/org.gnome.Documents.GDataMiner.service
data/org.gnome.documents.gschema.valid
data/org.gnome.documents.gschema.xml
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
m4/
omf.make
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
src/*.gir
src/*.typelib
src/Makefile
src/Makefile.in
src/gd-tracker-gdata-miner
src/gnome-documents
src/gnome-documents-debug
src/gnome-documents-search-provider
src/path.js
src/org.gnome.Documents.SearchProvider.service
stamp-h1
xmldocs.make
*~
*.patch
*.sw?
.emacs.desktop*
/data/gnome-calendar.desktop
/data/gnome-calendar.desktop.in
/data/org.gnome.calendar.gschema.valid
/data/org.gnome.calendar.gschema.xml
/src/gnome-calendar
gnome-calendar.anjuta
.anjuta*
gnome_calendar.anjuta
/config.guess
/config.sub
/depcomp
/install-sh
/ltmain.sh
/missing
/mkinstalldirs
Debug*
.gdb_history
data/org.gnome.calendar.enums.xml
src/gcal-enum-types.c
src/gcal-enum-types.h
src/gcal-resources.c
src/gcal-resources.h
AUTHORS
build-aux
data/org.gnome.Calendar.desktop
data/org.gnome.Calendar.desktop.in
data/org.gnome.Calendar.service
data/appdata/org.gnome.Calendar.appdata.xml
