*.la
*.lo
*.o
.deps
.libs
_build/
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config
data/org.gnome.Calendar.desktop
libtool
m4/
omf.make
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
po/stamp-po
po/gnome-calendar.pot
src/*.gir
src/*.typelib
src/Makefile
src/Makefile.in
stamp-h1
xmldocs.make
*~
*.patch
*.sw?
.emacs.desktop*
/data/org.gnome.calendar.gschema.valid
/src/gnome-calendar
gnome-calendar.anjuta
.anjuta*
gnome_calendar.anjuta
/config.guess
/config.sub
/depcomp
/install-sh
/ltmain.sh
/missing
/mkinstalldirs
Debug*
.gdb_history
data/org.gnome.calendar.enums.xml
src/gcal-enum-types.c
src/gcal-enum-types.h
src/gcal-resources.c
src/gcal-resources.h
src/gcal-shell-search-provider-generated.c
src/gcal-shell-search-provider-generated.h
AUTHORS
build-aux
data/org.gnome.Calendar.desktop
data/org.gnome.Calendar.service
data/appdata/org.gnome.Calendar.appdata.xml
src/gcal-debug.h
tags*
src/tags
src/views/tags
src/views/.dirstamp
*.goutputstream*
gtk-doc.make
doc/reference/xml
doc/reference/html
doc/reference/*.stamp
doc/reference/version.xml
.gitlab
.flatpak-builder
