include: 'https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml'

variables:
  GIT_SUBMODULE_STRATEGY: 'normal'

stages:
  - 'flatpak'
  - 'deploy'

flatpak:master:
    extends: '.flatpak'
    image: 'registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:master'
    stage: 'flatpak'
    variables:
        MANIFEST_PATH: "build-aux/flatpak/org.gnome.Calendar.json"
        RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
        FLATPAK_MODULE: "gnome-calendar"
        APP_ID: "org.gnome.Calendar.Devel"
        BUNDLE: "org.gnome.Calendar.Devel.flatpak"


flatpak:nightly:
    extends: '.publish_nightly'
    dependencies:
        - 'flatpak:master'
