.views {
    /* background color of every view */
    background-color: @theme_base_color;
    background-image: none;
}

.nav-button {
    background-color: transparent;
    background-image: none;
}

/* nav-bar labels */
.start-header {
    font: bold 18;
    color: @theme_selected_bg_color;
    padding: 12px;
}

.end-header {
    font: bold 18;
    padding: 12px;
}

.calendar-view {
    padding: 6px;
    font: 10;
}

.calendar-view.header {
    font-weight: bold;
}

.calendar-view.current {
    background-color: black;
    border-radius: 2px;
    color: white;
    font: bold;
}

.calendar-view:selected {
    color: @theme_selected_bg_color;
    font-weight: bold;
}

.calendar-view.overflow:hover {
    font-weight: bold;
    color: @theme_selected_bg_color;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, #efefef 2px)
}

.calendar-view.overflow {
    font: 8;
}

.calendar-view.lines {
    color: alpha(@theme_fg_color, 0.4);
}

.event-widget {
    border-radius: 2px;
    margin-top: 3px;
    margin-left: 6px;
    margin-bottom: 3px;
    margin-right: 6px;
    padding: 4px;
    font: 10;
}

GcalEventWidget.color-dark {
    color: white;
    outline-color: rgba(0, 0, 0, 0.3);
}

GcalEventWidget.color-dark:backdrop {
    color: rgba(255, 255, 255, 0.3);
}

GcalEventWidget.color-light {
    color: black;
    outline-color: rgba(255, 255, 255, 0.5);
}

GcalEventWidget.color-light:backdrop {
    color: rgba(0, 0, 0, 0.3);
}
