.views {
    /* background color of every view */
    background-color: #fafafa;
    background-image: none;
}

.nav-button {
    background-color: transparent;
    background-image: none;
}

.nav-header {
    font: bold 12;
    padding: 12px;
}

.view-overlay .frame {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.view-overlay .scrollbar.trough {
    background-color: transparent;
    background-image: none;
}

.calendar-view {
    padding: 6px;
    font: 10;
}

.calendar-view:selected {
    color: #0C73E5;
    background-color: shade (#fff, 0.5);
    font: bold;
}

.event {
    border: darker(@borders) 1px solid;
    border-radius: 2px;
    margin-top: 3px;
    margin-left: 6px;
    margin-bottom: 3px;
    margin-right: 6px;
    padding: 4px;
    font: 9;
}

.event-details .frame {
    border-style: solid;
    border-color: @borders;
    border-width: 0.5px;
    border-radius: 0;
}

.entry {
    border-radius: 0;
}

.new-event-widget > GtkButton {
    padding-top: 0px;
    padding-right: 0px;
    background-color: transparent;
    background-image: none;
    border: 0;
}

.arrow-bin {
    border: darker(@borders) 1px solid;
    color: @theme_fg_color;
    background-color: @theme_bg_color;
    -GcalArrowBin-arrow-size: 12px;
    -GcalArrowContainer-shadow-span: 3px;
}