/* Separators */
monthcell.separator-top,
monthcell.separator-top:selected {
    border-top: 1px solid white;
}

monthcell.separator-side:dir(ltr),
monthcell.separator-side:selected:dir(ltr) {
    border-left: 1px solid white;
}

monthcell:nth-child(7n + 1):dir(ltr),
monthcell:nth-child(7n + 1):selected:dir(ltr) {
    border-left-width: 0;
}

monthcell.separator-side:dir(rtl),
monthcell.separator-side:selected:dir(rtl) {
    border-right: 1px solid white;
}

monthcell:nth-child(7n + 1):dir(rtl),
monthcell:nth-child(7n + 1):selected:dir(rtl) {
    border-right-width: 0;
}
