/*
 * Event widget
 */

event.timed {
  color: var(--light-1);
  outline-color: rgba(0, 0, 0, 0.3);
}

/*
 * Search
 */

searchbutton > popover listview > row:selected {
  background-color: rgb(from var(--accent-bg-color) r g b / 20%);
}

