datechooser .weeknum {
  --border-width: 1px;

  color: var(--window-fg-color);
  background-color: rgb(from var(--window-fg-color) r g b / 5%);
}

calendar-view.month-view {
  --raised-shade-color: var(--border-color);
  --raised-shade-color-base: transparent;
}
