/*******
 * OSD *
 *******/
@define-color osd_highlight #ffffff;
@define-color osd_base #212526;

@define-color osd_fg #ededed;
@define-color osd_bg alpha(@osd_base, 0.80);

@define-color osd_toolbar_bg_a alpha(@osd_base, 0.80);
@define-color osd_toolbar_bg_b alpha(#101010, 0.80);
@define-color osd_toolbar_bg_c alpha(shade(@osd_base, 1.02), 0.80);

.sources-views {
  padding: 10px;
  border-radius: 10px;
  border-style: none;

  background-image: -gtk-gradient(linear, left top, left bottom,
                                  from(@osd_toolbar_bg_a),
                                  color-stop(0.63, @osd_toolbar_bg_b),
                                  to(@osd_toolbar_bg_c));

  color: @osd_fg;
  background-color: @osd_bg;
}

.osd.view {
  color: @osd_fg;
  background-color: transparent;
}

.calendar-view header {
  font: bold 12;
}

.calendar-view {
  padding: 12px;
  font: 10;
}

.calendar-view:selected {
  background-color: #555753;
}

.event {
  padding-top: 3px;
  padding-left: 6px;
  padding-bottom: 3px;
  padding-right: 6px;
  font: 9;
}

.event-details .frame {
  border-style: solid;
  border-color: @borders;
  border-width: 0.5px;
  border-radius: 3px;
}

/* TODO: not working */
.event-details .view {
  box-shadow: 40px 40px black;
}

GtkClutterOffscreen.overlay {
  background-color: transparent;
  background-image: none;
}
